# IDE config
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.pyvenv/

# pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
# pyproject.toml will usually be tracked, but you can ignore it if you prefer
# pyproject.toml

# Environments
.env
.env.local
.env.*.local
*.env

# Jupyter Notebook
.ipynb_checkpoints

# pyright
pyrightconfig.json

# Test result files
.coverage
.tox/
.nox/
*.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

